################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaAzdocMigration/PaAzdocMigration/bin/Debug
/PaAzdocMigration/.vs/PaAzdocMigration
/PaAzdocMigration/PaAzdocMigration/obj
/PaAzdocMigration/packages
